html {
  box-sizing: border-box;
}
*,
*::after *::before {
  box-sizing: inherit;
}

body {
  background-color: #1c1814;
  margin: 0;
  padding: 0;
  font-family: "inters", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
.body {
  background-color: #16120e;
}

.header {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 33px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0, auto;
  padding: 0, 20px;
}

.header-nav-link {
  display: flex;
  list-style: none;
  gap: 48px;
  motion: 0, auto;
}

.header-title-home {
  color: #c99e71;
}

.header-title {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color #c99e71 0.3s ease;
}
.header-nav-link a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header-nav-link a:hover {
  color: #f4c542;
}

.logo img {
  width: 50px;
  height: 50px;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.banner {
  margin-bottom: 140px;
}
.banner-section {
  padding: 100px 20px;
  background-color: #1a1a1a;
}

.text-banner {
  max-width: 45%;
  margin-left: -15%;
}

.banner-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
}

.banner-title {
  color: #fff;
}

.banner-section {
  height: 100vh;
  background-image: url("/images/Coffee-video.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.text-banner {
  max-width: 45%;
}

.banner-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
}

.description {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 30px;
}

.cta-banner {
  background-color: #c99e71;
  color: #000;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-banner:hover {
  background-color: #e0b233;
}

.video-banner {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-icon {
  width: 30px;
  height: auto;
  z-index: 1;
  margin-left: 7px;
}
.best {
  padding-bottom: 140px;
}

.banner-text {
  display: flex;
  text-align: center;
  color: #fff;

  margin-bottom: -100px;
}
.best-container {
  max-width: 1170px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.best-item {
  width: 366px;
  height: 474px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
  gap: 12px;
}

.best-title {
  font-size: 400;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 30px;
  color: #fff;
  position: relative;
  text-align: left;
  font-family: " Righteous ", sans-serif;
}

.best-link {
  margin: 0;
  margin-right: 8px;
  color: #f5c25d;
  font-size: 400;
  position: absolute;

  margin-right: 100%;
}
.best-img {
  width: 100%;
  height: calc(100% - 50px);
  object-fit: cover;
  border-radius: 5px;
}

.grid-container {
  padding-bottom: 140px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 32px;
  row-gap: 32px;
  justify-content: center;
  display: flex;
  text-align: center;
  justify-content: start;
}
.small-imegee {
  grid-row: 2;
  height: 100%;
}
.imege {
  width: 300px;
  height: 300px;
}
.cc {
  align-items: center;
}
.small-imege {
  grid-template-columns: 1fr 1fr;
  align-self: center;
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
  row-gap: 32px;
}

.best-imge {
  margin-bottom: 20px;
}

.small-imeges {
  margin: 0 auto;
  padding: 20px;
  background-color: #14110e;
  border-radius: 10px;

  align-items: center;
  text-align: left;
  display: inline-block;
  justify-self: center;
}

.grid-span {
  position: static;
  margin-top: 120px;
  color: yellow;
  font-size: 12px;
  margin-bottom: 16px;
}

.text {
  font-family: "Righteous" serif;
  font-size: 48px;

  display: flex;
  font-weight: bold;
  color: #fff;
}
.p {
  font-family: "Urbanist" serif;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}

.popular-section {
  text-align: center;
  padding: 50px 20px;
}

.popular-text {
  font-size: 18px;

  color: #c99e71;
}

.popular-textt {
  font-size: 48px;
  color: #fff;
  margin-bottom: 56px;
}
.popular-xtet {
  margin-bottom: 38px;
  color: #fff;
}
.popular-span {
  color: #c2a966;
}
.popular-span-title {
  color: #e0b233;
  margin-bottom: 20px;
}
.popular-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1130px;
  margin: 0 auto;
}

.popular-card {
  max-width: 366px;
  max-height: 579px;
  background-color: #121315;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 56px;
  gap: 36px;
}

.popular-img {
  margin-bottom: 36px;
  max-width: 100%;
  border-radius: 10px;
}

.popular-xtet {
  font-size: 24px;
}

.category {
  font-size: 14px;
  margin-bottom: 10px;
  color: #a08743;
}

.price {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}

.add-to-cart {
  padding: 10px 20px;
  background-color: #c99e71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #555;
}

.view-all {
  width: 252px;
  height: 62px;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #c99e71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-bottom: 140px;
}

.view-all:hover {
  background-color: #555;
}

.machine-section {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-container {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 530px;
  background-color: #27221d;
}

.machine-image img {
  margin: 85px 160px 86px 169px;
  max-width: 100%;
  width: 226px;
  height: 359px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #27221d;
}

.machine-text {
  flex-direction: column;
  justify-content: space-between;

  text-align: left;
  max-width: 600px;
}
.machine-title-item {
  margin-right: 300px;
}
.machine-title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 36px;
}

.machine-title-text {
  margin: 0;
  font-family: "Urbanist" serif;
  color: #ece2e2;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 36px;
}

.machine-button {
  width: 215px;
  height: 62px;
  font-family: "Inter" serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #c99e71;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.machine-button:hover {
  background-color: #555;
}
